*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
}

.container{
    max-width:1140px ;
    margin:auto;
    position: relative;
    
}

.team{
    padding: 70px 30px;
    background-color: dimgray;
    min-height: 100vh;
  }

.team .card {
    width:30%;
    float:left;
    padding: 0px 15px;
    
}

.team .card .box img{
    width: 250px;
    display: inline-block;
    margin: auto;/*remove if not necessary*/
    border-radius: 05px;
    
}

.team .card .box{
    
    padding: 30px;
    background-color:rgb(181, 130, 233); 

}

.team .card .box h4{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: snow;
    margin: 10px;

}

.team .card .box h5{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: snow;
    margin: 10px;

}

.team .card .box .p{
    color: snow;
    font-size: 15px;
    text-align: center;
}