*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

header {
    background-image: url('../images/lavflow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    }

/*.container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}*/

.contact_form{
    max-width: 650px;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

.input{
    display: flex;
    flex-direction: column;
    margin-right: 10%;

}

.inputs,
.message{
    width: 50%;
}

.inputs .input,
.message textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 15px;
    color: seashell;
    width: 100%;
}


.message textarea{
    height:212px ;
}

.btn{
    background: rgb(124, 64, 185);
    text-align: center;
    color:white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
           
}

@media screen and (max-width: 600px){
    .contact_form{
        flex-direction: column;
    }
    .message textarea{
        height: 80px;
    }
    .inputs,
    .message{
        width: 100%;
    }
}

